.experience {
  border-top: 0.5px solid rgb(173, 173, 173);
  height: 94vh;
  min-height: 900px;
  padding: 80px;

  // .xperience-top {

  // }

  .xperience-top, .experience-mid, .experience-bottom {
    display: flex;
    justify-content: space-evenly;
  }
}
