.experience {
  border-top: 0.5px solid rgb(173, 173, 173);
  padding: 80px;
  height: 94vh;
  min-height: 900px;

  .experience-top, .experience-bottom {
    display: flex;
    justify-content: space-evenly;
  }

  .experience-bottom {

  }
}
