.experience {
  border-top: 0.5px solid rgb(173, 173, 173);
  height: 94vh;
  min-height: 900px;
  padding: 80px;

  .xperience-top, .experience-mid, .experience-bottom {
    display: flex;
    justify-content: space-evenly;
  }

  .challenges, .discovery {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.514);
  }

  .discovery {
    // background-image: url($exclamation-mark);
    background-repeat: no-repeat;
  }
}
