.epa-world {
  border-top: 0.5px solid rgb(173, 173, 173);
  height: 94vh;
  min-height: 900px;
  padding: 80px;

  .epa-world-header {
    display: flex;
    align-items: center;

    .plus-icon {
      color: black;
      padding: 0 10px 0 20px;
    }
  }

  .word-cloud-container {
    text-align: center;
  }

  .epa-world-word-cloud {
    width: 60%;
    height: auto;
  }

  .text-area {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .sde-logo-container {
    text-align: center;
  }

  .sde-logo {
    height: 58px;
    top: 20px;
  }

  .full-text {
    color: gray;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    gap: 50px;
    li {
      padding: 2px 0;
      text-align: left;
    }
  }
}
