.introduction {
    height: 94vh;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 150px;
    }

    h3 {
        font-size: 60px;
    }
}
