.platform {
  border-top: 0.5px solid rgb(173, 173, 173);
  height: 94vh;
  min-height: 900px;
  padding: 80px;

  .release-date {
    color: gray;
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 10px;
  }
  

  .platform-examples {
     display: flex;
     justify-content: space-between;
     align-items: center;
    height: 250px;
  }

}
