.special-thanks {
  border-top: 0.5px solid rgb(173, 173, 173);
  height: 94vh;
  min-height: 900px;
  padding-top: 80px;
  padding-bottom: 60px;

  .thanks-interapt {
    text-align: center;
    .thanks-interapt-logo {
      height: 60px;
    }
  }
}
