.overview {
  border-top: 0.5px solid rgb(173, 173, 173);
  min-height: 1000px;
  padding: 80px;

  .release-date {
    color: gray;
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 10px;
  }

  .tech-info,
  .upgrades {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
